version: '3.9'

services:
  server:
    build: ./backend
    container_name: docker-test1
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    restart: unless-stopped
  client: 
    build: ./frontend
    container_name: frontend-test1
    ports:
      - "5173:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped
    

networks:
  fullstack-net:
    driver: bridge